/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: 700;}
em {font-style: italic;}


/* General
***********************/
body {
	font-size:16px;
	line-height:22px;
	height: auto;
	font-family: 'Raleway', sans-serif;
	color:#373648;
	/* background-color:#eeefe5; */
	background-color: white;
	padding: 0px;
	margin: 0px;
}
a:link {color: #cdaa32; text-decoration:none;}
a:visited {color: #cdaa32; text-decoration:none;}
a:hover {color: #cc9640; text-decoration:none;}
a:active {color: #d76713; text-decoration:none;}

/* .MeetMeInBrooklyn-Regular { 
	font-family: MeetMeInBrooklyn-Regular;
	font-weight: normal;
	font-style: normal;
} */
h1 {
	font-family: 'Raleway', sans-serif;
	font-size:55px;
	line-height:60px;
	color:#363c4e;
}
h2 {
	font-family: 'Raleway', sans-serif;
	font-size:55px;
	line-height:100px;
	color:#000000;
	margin-bottom:10px;
}
/* .bigSpace {
	height:60px;
	width:100%;
	clear:both;
} */
.space {
	width:100%;
	clear:both;
}	
.space3 {
	width:100%;
	clear:both;
}	
.space2 {
	display:none;
}
.space1 {
	display:none;
}
.wrapper {
		width:100%;
		/* max-width:1200px; */
		margin:0px auto;
}
.whiteBkg {
	background-color:#F4F5EE;
	width:100%;
}
input {
	width:90%;
	border:0px;
	padding:10px 5% 10px 5%;
	font-size:14px;
	margin-bottom:15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:transparent;
	font-family: 'Raleway', sans-serif;
	color:#000000;
	font-weight:500;
	background-image:url(../images/form_bkg.png);
}
input[type=submit] {
	background-image:none;
	background-color:#d4ac72;
	opacity: 1.0;
    filter: alpha(opacity=100);
}
textarea {
	width:100%;
	border:0px;
	background-color:transparent;
	padding:10px 3% 10px 3%;
	font-size:13px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	background-image:url(../images/form_bkg.png);
}
.success {
	font-size:18px;
	width:100%;
	/* max-width:800px; */
	text-align:center;
	padding-top:100px;
	margin:0px auto;
}


/* Navbar */

header {
    height: 70px;
    position: fixed;
    top: 0;
    /* transition: top 0.2s ease-in-out; */
    width: 100%;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:3px;
	z-index:99999;
	background: -webkit-linear-gradient(#343c4f, #343c4f); 
  	background: -o-linear-gradient(#343c4f, #343c4f); 
  	background: -moz-linear-gradient(#343c4f, #343c4f);
  	background: linear-gradient(#343c4f, #343c4f);
}
.nav-up {
    top: -70px;
}	
.navbar1 a:link {color: #FFFFFF; text-decoration:none;}
.navbar1 a:visited {color: #FFFFFF; text-decoration:none;}
.navbar1 a:hover {color: #343c4a; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:pressed {color: #343c4a; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:active {color: #FFFFFF; text-decoration:none;}

.btnPressed a:link {color: #343c4f; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:visited {color: #343c4f; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:hover {color: #343c4f; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:pressed {color: #343c4f; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:active {color: #343c4f; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}

.navWrapper {
	padding:0px 15px 0px 15px;
}
#top-menu {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
}

#top-menu a {
    display: block;
    margin: 25px 14px 0px 14px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #ffffff;
    text-decoration: none;
	padding:2px 3px 2px 5px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

#top-menu a:hover {
	color: #343c4a; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

#top-menu li.active a {
    color: #343c4a; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

.navbar2 {
	display:none;
}	

.resumeIcon {
	width:6%;
	max-width:40px;
	/* background-image:url(../images/instagram.png); */
	height:20px;
	float:right;
	margin:25px 40px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:20px 20px;
}
.resumeIcon:hover {
	/* background-image:url(../images/instagram_rollover.png); */
	cursor:pointer;
}


/* Banner */

.bannerBkg {
	background-image:url(../images/banner.jpg);
	background-position:top center;
	color: #ffffff;
	height: 645px;
	margin: 0px 0px 0px 0px;
	/* padding: 70px 0 0 0; */
	z-index:999999;
}
/* #bannerRight {
	float:right;
	width:50%;
} */
.bannerWrapper {
	width:100%;
	/* max-width:960px; */
	margin:0px auto;
}

.bannerText {
	font-family: 'Raleway', sans-serif;
	font-size:70px;
	/* line-height:115px; */
	color:#000000;
	text-align:center;
	/* width:46%; */
	/* float:left; */
	padding-top:155px;
	letter-spacing:-1px;
	padding-bottom: 25px;
}

.text{
	font-size:	40px;
	color: white;
	line-height: 30px;
	text-align: center;
}


.bannerTextSmall {
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	line-height:29px;
	letter-spacing:0px;
	color: black;
}

#lemonImg {
	max-width: 40px;
    max-height: 40px;
	padding-left: 75px;
    padding-top: 70px;
}


/* Tagline */

.taglineContainer {
	background-color: white;
	padding-bottom: 100px;
	margin: 75px 0px 167px 0px;
}

.tagline {
	width:100%;
	background-color:#a4a7ab;
	padding:77px 0px 107px 0px;
	border-top:1px solid #F4F5EE;
}
.taglineWrapper {
	width:100%;
	/* max-width:900px; */
	margin:0px auto;
	font-size:28px;
	color:#666666;
	text-align:center;
	font-weight:300;
	line-height:40px;
	padding-bottom: 50px;
}


.greeting {
	padding: 50px 50px 50px 50px;
}

/* CARTOON IMAGE */
.cartoon {
	align-content: center;
    height: 45%;
    width: 45%;
}



/* skills */


.skillsWrapper {
		width:100%;
		height: 300px;
		/* max-width:1170px; */
		margin:0px auto;
		background-color:#e6e7ef !important;
		/* padding-left: 15px; */
}
.skillsBox {
	width:20.6%;
	float:left;
	margin-right:5.86%;
	text-align:center;
	font-size:15px;
	color:#555555;
	margin-top:-45px;
	line-height:25px;
}
.skillsBoxLast {
	width:20.6%;
	float:left;
	text-align:center;
	font-size:15px;
	color:#555555;
	margin-top:-45px;
	line-height:25px;
}
.skillsCircle {
	background-color:#e6e7ef;
	width:112px;
	height:96px;
	text-align:center;
	padding-top:16px;
	margin:0px auto;
	-moz-border-radius: 56px;
	-webkit-border-radius: 56px;
	border-radius: 56px;
	-khtml-border-radius: 56px;
}
.skillsCircle img {
	width:73.2%;
	max-width:82px;
}
.skillsTitle {
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.skillsDivide1 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #EBA982;
}
.skillsDivide2 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #CFB0AA;
}
.skillsDivide3 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BBC9B0;
}
.skillsDivide4 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BCC2B6;
}
/* #designIcon {
	visibility: hidden;
}
#developmentIcon {
	visibility: hidden;
} */


/* About */

.aboutWrapper{
	background-color: #ffffff;
}

 .aboutText {
	width:90%;
	padding:70px;
	font-size:18px;
	line-height:23px;
	text-align:center;
	color:#888888; 
	margin-top: 170px;
}
/* Boxes */
.workGroup1 {
    display: block;
    width: 100%;
    height: 800px;
    z-index: 80;
	background: white;
	
}


/* .workGroup2 {
	display:none;
} */

.boxesInfo {
	font-size:16px;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:0px;
	padding:2px 50px 0px 50px;
	line-height:15px;
	color: #363c4e;
}
.popUpLeft {
	width:57%;
	float:left;
	margin-right:5%;
}
.popUpLeft img {
	width:100%;
}
.popUpRight {
	width:38%;
	float:right;
}
.popUpFull img {
	width:100%;
	max-width:850px;
	text-align:center;
}
.popUpTitle {
	color:#d76713;
	font-size:32px;
	line-height:35px;
	margin-bottom:10px;
}
.popUpBtn {
	background-color:#bdcbb6;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	padding:10px 5% 10px 5%;
	width:90%;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.popUpBtn:hover {
	background-color:#778472;
	cursor:pointer;
}
.popUpRight a:link, .popUpFull a:link {color: #ffffff; text-decoration:none;}
.popUpRight a:visited, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:hover, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:active, .popUpFull a:visited {color: #ffffff; text-decoration:none;}

.popUpService {
	font-size:13px;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:0px;
	padding:4px;
	background-color:#EEEFE5;
	margin-bottom:10px;
	text-align:center;
}

.mdGreyBox {
	width:50%;
	float:left;
	background-color:#cdaa32;
	text-align:center;
	letter-spacing:3px;
	color:#FFFFFF;
	padding:55px 0px 25px 0px;
	height:400px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.mdGreyBox img {
	width:50%;
	/* max-width:210px; */
	margin-bottom:10px;
}
.ltNavyBox {
	width:50%;
	float:left;
	background-color:#363c4e;
	text-align:center;
	letter-spacing:3px;
	color:#ffffff;
	padding:55px 0px 25px 0px;
	height:400px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.ltNavyBox img {
	width:50%;
	/* max-width:210px; */
	margin-bottom:10px;
}
.whiteBox {
	width:50%;
	float:left;
	background-color:#e6e7ef;
	text-align:center;
	letter-spacing:3px;
	color:#ffffff;
	padding:55px 0px 25px 0px;
	height:400px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.whiteBox img {
	width:50%;
	/* max-width:210px; */
	margin-bottom:10px;
}
.goldBox {
	width:50%;
	float:left;
	background-color:#e6efe6;
	text-align:center;
	letter-spacing:3px;
	color:#ffffff;
	padding:55px 0px 25px 0px;
	height:400px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.goldBox img {
	width:50%;
	/* max-width:210px; */
	margin-bottom:10px;
}
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color:#ffffff;
  background: #d76713;
	padding:5px 12px 5px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #813107;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color:#ffffff;
  background: #813107;
	padding:5px 12px 5px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}




/* Contact */


.contactBkg {
	width:100%;
	/* background-image:url(../images/footer_bkg1.jpg); */
	background-position:bottom center;
}
.contactWrapper {
	width:100%;
	/* max-width:710px; */
	margin:0px auto;
	text-align:center;
	font-size:18px;
	line-height:27px;
	padding:20px 0px 105px 0px;
	background-color: #ffffff;
}

.contactText {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

.contactCol1 {
	width:32%;
	float:left;
	margin-right:2%;
	text-align:left;
}
.contactCol2 {
	width:32%;
	float:left;
	margin-right:2%;
	text-align:left;
}
.contactCol3 {
	width:32%;
	float:right;
	text-align:left;
}
.comments {
	width:66%;
	float:left;
	text-align:left;
}
.submit {
	width:32%;
	float:right;
}

/* .submitBtnText{
	color: #d06613;
} */
.submitBtn {
	width:100%;
	background-color:#bb9a36;
	height:80px;
	font-size:53px;
	font-family: 'Open Sans', sans-serif;
	color:#f7af02;
	opacity: 1.0;
    filter: alpha(opacity=100);
	-moz-border-radius: 5px;
	border-radius: 5px;
	 -webkit-appearance: none;
}
.submitBtn:hover {
	background-color:#d4ac72;
	cursor:pointer;
	opacity: 1.0;
    filter: alpha(opacity=100);
}
.submitBtnNew {
	padding:10px 0px 10px 0px;
	background-color:#f7af02;
	height:auto;
	font-size:50px;
	line-height:50px;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	-moz-border-radius: 15px;
	border-radius: 15px;
	 -webkit-appearance: none;
	width:90%;
	margin:0px 5% 0px 5%;
}
.submitBtnNew:hover {
	background-color:#d4ac72;
	cursor:pointer;
}
.submitBtnBkg {
	width:100%;
	margin:0px auto;
	max-width:460px;
}
.submitBtnBkg a:link {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:visited {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:hover {color: #e6e8bf; text-decoration:none;}
.submitBtnBkg a:active {color: #e6e8bf; text-decoration:none;}


/* Interior Pages */




/* Media Queries
***********************/



@media screen and (max-width: 1200px) {

.bigSpace {
	height:100px;
	width:100%;
	clear:both;
}
}


@media screen and (max-width: 980px) {
	

/* Banner */

/* .bannerBkg {
	background-image:url(../images/banner-med.jpg);
	background-position:top center;
	color: #ffffff;
	height: 480px;
	margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
	z-index:999999;
}
#bannerRight {
	display:none;
}
*/
.bannerText {
	font-family: 'Raleway', sans-serif;
	font-size: 90px;
	line-height: 82px;
	text-align: center;
	width: 94%;
	/* float: left; */
	padding-top: 105px;
	padding-left: 5%;
	letter-spacing: -1px;
}
/* .bannerTextSmall {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	line-height:25px;
	letter-spacing:0px;
}  */


/* Tagline */
.taglineContainer {
	color: #ffffff;
	height: 480px;
	/* margin: 0px 0px 0px 0px; */
	padding: 70px 0 270px 0;
	z-index:999999;
	margin: 0px 0px 70px 0px;
	width: 94%;
}

.tagline {
	padding:62px 0px 92px 0px;
}
.taglineWrapper {
	font-size:24px;
	line-height:35px;
}

/* Skills */

/* .bigSpace {
	height:1px;
	width:100%;
	clear:both;
} */
.skillsBox {
	font-size:14px;
	line-height:20px;
}
.skillsBoxLast {
	font-size:14px;
	line-height:20px;
}

/* About */


.aboutText {
	/* float:left; */
	width:100%;
	/* max-width:500px; */
	padding:50px 0% 50px 0%;
	font-size:15px;
	line-height:20px;
	text-align: center;
	margin: 0px auto;
}
.aboutGlasses img {
	padding-right:50px;
	width:50%;
	height:50%;
}
.aboutGlasses {
	float:left;
	width:50%;
	margin-top:-28px;
	text-align:right;
}

/* Boxes */
	
.workGroup1 {
	display:block;
	width: 100%;
	height: 50%;
	z-index: 80;
	background-color: white;
}
/* .workGroup2 {
	display:block;
} */
/* .mdGreyBox {
	width:100%;
} */
.ltNavyBox {
	width:100%;
}
.whiteBox {
	width:100%;
}
.goldBox {
	width:100%;
}




@media screen and (max-width: 820px) {
	

/* About */

.aboutPic {
	width:100%;
	/* background-image:url(../images/about_me.png); */
	background-position:center right;
}
.aboutText {
	/* float:none; */
	width:86%;
	max-width:900px;
	padding:0px 7% 50px 7%;
	text-align: center;
	margin-top: 50px;
}

.taglineWrapper {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 0px;
    padding-left: 10px;
}

/* .bigSpace {
	height:1px;
	width:100%;
	clear:both;
} */

@media screen and (max-width: 750px) {

	/* .bigSpace {
		height:1px;
		width:100%;
		clear:both;
	} */

h2 {
	font-size:66px;
	line-height:80px;
	margin-bottom:10px;
}

/* Navbar */

	
header {
    height: 50px;
	background: -webkit-linear-gradient(#343c4a, #343c4a); 
  	background: -o-linear-gradient(#343c4a, #343c4a); 
  	background: -moz-linear-gradient(#343c4a, #343c4a);
  	background: linear-gradient(#343c4a, #343c4a);
}
.navbar1 {
	display:none;
}	
.navbar2 {
	display:none;
	width:50%;
	float:left;
}	
.accordionButton {	
	width: 100%;
	height:32px;
	float: left;
	/* _float: none;  Float works in all browsers but IE6 */ */
	cursor: pointer;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	font-weight:500;
	color:#FFFFFF;
	letter-spacing:3px;
	padding:18px 0px 0px 5px;
	}
	
.accordionContent {	
	width: 50%;
	float: left;
	/* _float: none; Float works in all browsers but IE6 */
	background: #343c4a;
	font-size:12px;
	line-height:12px;
	text-align:center;
	font-weight:500;
	padding:15px 0px 15px 0px;
	color:#ffffff;
	}
.accordionContent a {
	color:#ffffff;
}
.divLine {
	width:100%;
	margin:10px 3% 10px 3%;
	border-bottom:1px solid #C5D0C7;
}

.resumeIcon {
	width:10%;
	max-width:40px;
	height:17px;
	float:right;
	margin:17px 40px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:17px 17px;
}

/* Banner */

/* .bannerBkg {
	background-image:url(../images/banner-small.jpg);
	background-position:top right;
	color: #ffffff;
	height: 300px;
	margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
	z-index:999999;
}
.bannerText {
	font-family: 'Raleway', sans-serif;
	font-size:90px;
	line-height:82px;
	text-align:center;
	width:100%;
	max-width:400px;
	float:none;
	padding-top:25px;
	padding-left:0px;
	padding-right:0px;
	margin:0px auto;
	letter-spacing:-1px;
}
.bannerTextSmall {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	line-height:23px;
	letter-spacing:0px;
} */


/* Tagline */

.tagline {
	padding:52px 0px 52px 0px;
}
.taglineWrapper {
	font-size:20px;
	line-height:30px;
	padding-bottom: 0px;
}

/* skills */


.skillsWebDesign {
	background-image:url(../images/design_icon.png);
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.skillsDevelopment {
	background-image:url(../images/development_icon.png);
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.skillsGithub{
	background-image:url(../images/github_icon.png);
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
.skillsRepl {
	background-image:url(../images/rep_bot.png);
	background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
}
/* .bigSpace {
	height:60px;
	width:100%;
	clear:both;
} */
.skillsWrapper {
	width: 94%;
    max-width: 1200px;
    margin: 60px auto -94px auto;
    height: 600px;
    padding: 15px;
}
.skillsBox {
	width:94%;
	float:none;
	margin-right:3%;
	margin-left:3%;
	text-align:left;
	font-size:14px;
	margin-top:30px;
	line-height:20px;
}
.skillsBoxLast {
	width:94%;
	float:none;
	margin-right:3%;
	margin-left:3%;
	text-align:left;
	font-size:14px;
	margin-top:30px;
	line-height:20px;
}
.skillsCircle {
	display:none;
}
.skillsTitle {
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:6px;
}
.skillsDivide1 {
	display:none;
}
.skillsDivide2 {
	display:none;
}
.skillsDivide3 {
	display:none;
}
.skillsDivide4 {
	display:none;
}


/* Boxes */

.whiteBox {
	width: 50%
}
.mdGreyBox {
	width:50%;
}
.ltNavyBox {
	width:50%;
}
.navyBox {
	width:50%;
}
.goldBox {
	width:50%;
}

.whiteBox img {
    width: 50%;
    padding-top: 69px;
}

.ltNavyBox img {
	width:50%;
	padding-top: 69px;
}
.navyBox img {
	width:50%;
	padding-top: 69px;
}
/* .mdGreyBox img {
	width:70%;
	padding-top: 69px; */
}
.goldBox img {
	width:50%;
	padding-top: 69px;
}

/* Contact */


.contactWrapper {
	padding:70px 0px 300px 0px;
}
.submitBtn {
	font-size:30px;
}
	
.submitBtnNew {
	padding:10px 0px 10px 0px;
	font-size:40px;
	line-height:40px;
}

}

@media screen and (max-width: 500px) {
	


h1 {
	font-size:45px;
	line-height:50px;
}
h2 {
	font-size:40px;
	line-height:50px;
	margin-bottom:10px;
}


/* Banner */


.bannerText {
	font-size:80px;
	line-height:74px;
}

/* Tagline */

.tagline {
	padding:42px 0px 12px 0px;
}
.taglineWrapper {
		font-size: 18px;
		line-height: 26px;
		padding-bottom: 0px;
		padding-left: 10px;
	}

	
/* Boxes */
	
.mdGreyBox {
	display:100%;
}
.ltNavyBox {
	width:100%;
}
.navyBox {
	width:100%;
}
.goldBox {
	width:100%;
}

/* Contact */


input {
	margin-bottom:10px;
}
.contactWrapper {
	width:94%;
	max-width:710px;
	margin:0px auto;
	text-align:center;
	font-size:14px;
	line-height:21px;
	/* padding:60px 0px 250px 0px; */
	padding: 15px;
    padding-bottom: 50px;
}
.contactCol1 {
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	text-align:left;
}
.contactCol2 {
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	text-align:left;
}
.contactCol3 {
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	text-align:left;
}
.comments {
	width:60%;
	float:left;
	text-align:left;
	margin-left:1%;
	margin-right:1%;
}
.submit {
	width:36%;
	float:right;
	margin-left:1%;
	margin-right:1%;
}
.submitBtn {
	width:100%;
	height:120px;
	font-size:30px;
}
	
	
.submitBtnNew {
	padding:10px 0px 10px 0px;
	font-size:30px;
	line-height:30px;
}

/* Retina Display Images */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {


}
